@model TheGreatGrape.Web.ViewModels.Wines.WineViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
<div class="right-column">
    <div class="right-column-header">
    </div>

    <div class="right-column-body full-width">




        <div class="clear"></div>

        <div class="inner-left-column">

            <div class="display-4">@Model.Name</div>
            <div class="product-view-item">

                <div class="product-view-image">
                    <img src="@Model.ImageUrl" />
                </div>
            </div>
        </div>


        <div class="inner-right-column">

            <div class="clear"></div>

            <div class="tab-cont">
                <div id="tab-1" class="tab-item active">
                    <table>

                        <tr>
                            <td><span>Арт. #:</span></td>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <td><a class="category_linkh"><span>Colour:</span></a></td>
                            <td><a class="category_link" asp-controller="Wines" asp-action="AllByX" asp-route-searchByInput="@Model.CategoryId" asp-route-searchBy="Category">@Model.CategoryName</a></td>
                        </tr>
                        <tr>
                            <td><a class="category_linkh"><span>Country:</span></a></td>
                            <td><a class="category_link" asp-controller="Wines" asp-action="AllByX" asp-route-searchByInput="@Model.CountryId" asp-route-searchBy="Country">@Model.CountryName</a></td>
                        </tr>
                        <tr>
                            <td><p class="category_linkh"><span>Winery:</span></p></td>
                            <td><a class="category_link" asp-controller="Wines" asp-action="AllByX" asp-route-searchByInput="@Model.WineryId" asp-route-searchBy="Winery">@Model.WineryName</a></td>
                        </tr>
                        <tr>
                            <td><a class="category_linkh"><span>Grapevine:</span></a></td>
                            @foreach (var grape in Model.Grapes)
                            {
                                <td><a class="category_link" asp-controller="Wines" asp-action="AllByX" asp-route-searchByInput="@grape.GrapeId" asp-route-searchBy="Grape">@grape.GrapeName</a></td>
                            }
                        </tr>

                        <tr>
                            <td><a class="category_linkh"><span>Year:</span></a></td>
                            <td><a class="category_link" asp-controller="Wines" asp-action="AllByX" asp-route-searchByInput="@Model.Year" asp-route-searchBy="Year">@Model.Year</a></td>
                        </tr>
                        <tr>
                            <td><a class="category_linkh"><span>Volume:</span></a></td>
                            <td><a class="category_link" asp-controller="Wines" asp-action="AllByX" asp-route-searchByInput="@Model.Volume" asp-route-searchBy="Volume">@Model.Volume</a></td>
                        </tr>
                        <tr>
                            <td><a class="category_linkh"><span>Alcohol %:</span></a></td>
                            <td><a class="category_link" asp-controller="Wines" asp-action="AllByX" asp-route-searchByInput="@Model.Alcohol" asp-route-searchBy="Alcohol">@Model.Alcohol</a></td>
                        </tr>
                        <tr>
                            <td><a class="category_linkh"><span>Sweetness:</span></a></td>
                            <td><a class="category_link" asp-controller="Wines" asp-action="AllByX" asp-route-searchByInput="@Model.Sweetness" asp-route-searchBy="Sweetness">@Model.Sweetness</a></td>
                        </tr>




                    </table>
                </div>
                <div id="tab-2" class="tab-item">
                    <div>
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
            <div class="show_details-product_price ">
                <div style="margin-bottom: -15px;" class=" ">
                    <span class="normal-price real-price">ЛВ. <span class="display-4">@Model.Price</span></span>
                </div>
                <div class="">
                    <a type="submit" class="btn btn-primary" asp-controller="Cart" asp-action="Index">Add to cart</a>
                </div>
            </div>

            <span class="comment-item-rating">
                <em><i>Your feedback:</i></em>
                @if (Model.AverageVote > 0.24)
                {
                    @if (Model.AverageVote > 0.74)
                    {
                        @if (Model.AverageVote > 1.24)
                        {

                            @if (Model.AverageVote > 1.74)
                            {
                                @if (Model.AverageVote > 2.24)
                                {

                                    @if (Model.AverageVote > 2.74)
                                    {
                                        @if (Model.AverageVote > 3.24)
                                        {
                                            @if (Model.AverageVote > 3.74)
                                            {
                                                @if (Model.AverageVote > 4.24)
                                                {
                                                    @if (Model.AverageVote > 4.74)
                                                    {
                                                        <em class="star-fill" data-vote="1"><i class="fas fa-star checked"></i></em>
                                                        <em class="star-fill" data-vote="2"><i class="fas fa-star checked"></i></em>
                                                        <em class="star-fill" data-vote="3"><i class="fas fa-star checked"></i></em>
                                                        <em class="star-fill" data-vote="4"><i class="fas fa-star checked"></i></em>
                                                        <em class="star-fill" data-vote="5"><i class="fas fa-star checked"></i></em>
                                                    }
                                                    else
                                                    {
                                                        <em class="star-fill" data-vote="1"><i class="fas fa-star checked"></i></em>
                                                        <em class="star-fill" data-vote="2"><i class="fas fa-star checked"></i></em>
                                                        <em class="star-fill" data-vote="3"><i class="fas fa-star checked"></i></em>
                                                        <em class="star-fill" data-vote="4"><i class="fas fa-star checked"></i></em>
                                                        <em class="star-fill" data-vote="5"><i class="fas fa-star-half-alt checked"></i></em>
                                                    }
                                                }
                                                else
                                                {
                                                    <em class="star-fill" data-vote="1"><i class="fas fa-star checked"></i></em>
                                                    <em class="star-fill" data-vote="2"><i class="fas fa-star checked"></i></em>
                                                    <em class="star-fill" data-vote="3"><i class="fas fa-star checked"></i></em>
                                                    <em class="star-fill" data-vote="4"><i class="fas fa-star checked"></i></em>
                                                    <em class="star-fill" data-vote="5"><i class="fas fa-star"></i></em>
                                                }
                                            }
                                            else
                                            {
                                                <em class="star-fill" data-vote="1"><i class="fas fa-star checked"></i></em>
                                                <em class="star-fill" data-vote="2"><i class="fas fa-star checked"></i></em>
                                                <em class="star-fill" data-vote="3"><i class="fas fa-star checked"></i></em>
                                                <em class="star-fill" data-vote="4"><i class="fas fa-star-half-alt checked "></i></em>
                                                <em class="star-fill" data-vote="5"><i class="fas fa-star"></i></em>
                                            }
                                        }
                                        else
                                        {
                                            <em class="star-fill" data-vote="1"><i class="fas fa-star checked"></i></em>
                                            <em class="star-fill" data-vote="2"><i class="fas fa-star checked"></i></em>
                                            <em class="star-fill" data-vote="3"><i class="fas fa-star checked"></i></em>
                                            <em class="star-fill" data-vote="4"><i class="fas fa-star"></i></em>
                                            <em class="star-fill" data-vote="5"><i class="fas fa-star"></i></em>
                                        }

                                    }
                                    else
                                    {
                                        <em class="star-fill" data-vote="1"><i class="fas fa-star checked"></i></em>
                                        <em class="star-fill" data-vote="2"><i class="fas fa-star checked"></i></em>
                                        <em class="star-fill" data-vote="3"><i class="fas fa-star-half-alt checked"></i></em>
                                        <em class="star-fill" data-vote="4"><i class="fas fa-star "></i></em>
                                        <em class="star-fill" data-vote="5"><i class="fas fa-star"></i></em>
                                    }
                                }
                                else
                                {
                                    <em class="star-fill" data-vote="1"><i class="fas fa-star checked"></i></em>
                                    <em class="star-fill" data-vote="2"><i class="fas fa-star checked"></i></em>
                                    <em class="star-fill" data-vote="3"><i class="fas fa-star"></i></em>
                                    <em class="star-fill" data-vote="4"><i class="fas fa-star "></i></em>
                                    <em class="star-fill" data-vote="5"><i class="fas fa-star"></i></em>
                                }

                            }
                            else
                            {
                                <em class="star-fill" data-vote="1"><i class="fas fa-star checked"></i></em>
                                <em class="star-fill" data-vote="2"><i class="fas fa-star-half-alt checked"></i></em>
                                <em class="star-fill" data-vote="3"><i class="fas fa-star"></i></em>
                                <em class="star-fill" data-vote="4"><i class="fas fa-star "></i></em>
                                <em class="star-fill" data-vote="5"><i class="fas fa-star"></i></em>
                            }
                        }
                        else
                        {
                            <em class="star-fill" data-vote="1"><i class="fas fa-star checked"></i></em>
                            <em class="star-fill" data-vote="2"><i class="fas fa-star"></i></em>
                            <em class="star-fill" data-vote="3"><i class="fas fa-star"></i></em>
                            <em class="star-fill" data-vote="4"><i class="fas fa-star "></i></em>
                            <em class="star-fill" data-vote="5"><i class="fas fa-star"></i></em>
                        }

                    }
                    else
                    {
                        <em class="star-fill" data-vote="1"><i class="fas fa-star-half-alt checked"></i></em>
                        <em class="star-fill" data-vote="2"><i class="fas fa-star"></i></em>
                        <em class="star-fill" data-vote="3"><i class="fas fa-star"></i></em>
                        <em class="star-fill" data-vote="4"><i class="fas fa-star "></i></em>
                        <em class="star-fill" data-vote="5"><i class="fas fa-star"></i></em>
                    }

                }
                else
                {
                    <em class="star-fill" data-vote="1"><i class="fas fa-star"></i></em>
                    <em class="star-fill" data-vote="2"><i class="fas fa-star"></i></em>
                    <em class="star-fill" data-vote="3"><i class="fas fa-star"></i></em>
                    <em class="star-fill" data-vote="4"><i class="fas fa-star "></i></em>
                    <em class="star-fill" data-vote="5"><i class="fas fa-star"></i></em>
                }
                <em><span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5</span> </em>
            </span>


        </div>

        <div class="clear-100perc"></div>

        <div style="display:flex;padding-bottom:10px;">

            <div class="buy-form fleft" style="align-self: flex-end;">
                <a class="buy_now" href="javascript:void(0);" data-stock='' data-quantity="1" data-id="3177" data-price="4299"></a>
                <input placeholder="Количество" class="input_text input_default quantity_input" />
            </div>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("em[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var wineId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { wineId: wineId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}

